
@font-face {
  font-family: "CirceRegular";
  src: url("../fonts/CirceRegular.woff") format("woff"),
       url('../fonts/CirceRegular.woff2') format("woff2");
       font-display: swap;
}

@font-face {
  font-family: "CirceBold";
  src: url("../fonts/CirceBold.woff") format("woff"),
       url('../fonts/CirceBold.woff2') format("woff2");
       font-display: swap;
}