$text: #0C243E;
$orange: #FF7300;


@mixin f400 {
  font-family: 'CirceRegular', sans-serif;
  font-weight: 400;
}
@mixin f700 {
  font-family: 'CirceBold', sans-serif;
  font-weight: 700;
}
@mixin f400pt {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
}
@mixin f700pt {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
}

